<app-audio-instrucciones
  [maxIndex]="audioInstruccionesData.length"
  [index]="currentIndex"
  [content]="audioInstruccionesData[currentIndex].content"
  [audioSrc]="audioInstruccionesData[currentIndex].audio"
  (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>

<app-phone-interface>
  <body class="facebook-agregarAmigos-p1" *ngIf="currentIndex === 0"></body>
  <body class="facebook-agregarAmigos-p2" *ngIf="currentIndex === 1">
    <img
      src="/assets/images/imagesTutoriales/facebook/agregarAmigos/facebook-icon.png"
      alt="Facebook Icon"
      class="facebook-agregarAmigos-p2-button-image"
      (click)="agregarAmigosRegistroClicked()"
    />
  </body>
  <body class="facebook-agregarAmigos-p3" *ngIf="currentIndex === 2">
    <div
      class="facebook-agregarAmigos-p3-red-box"
      (click)="agregarAmigosRegistroClicked()"
    ></div>
  </body>
  <body class="facebook-agregarAmigos-p4" *ngIf="currentIndex === 3">
    <img
      src="/assets/images/imagesTutoriales/facebook/agregarAmigos/agregarAmigos-opcionAmigos.png"
      alt="Playstore Icon"
      class="facebook-agregarAmigos-p4-button-image"
      (click)="agregarAmigosRegistroClicked()"
    />
    <div class="facebook-agregarAmigos-p4-red-box"></div>
  </body>
  <body class="facebook-agregarAmigos-p5" *ngIf="currentIndex === 4">
    <div
      class="facebook-agregarAmigos-p5-red-box"
      (click)="agregarAmigosRegistroClicked()"
    ></div>
  </body>
  <body class="facebook-agregarAmigos-p6" *ngIf="currentIndex === 5">
    <input
      type="text"
      placeholder="Buscar amigos"
      class="facebook-agregarAmigos-p6-input"
      (input)="facebookAgregarAmigosP6InputChanged($event)"
    />
  </body>
  <body class="facebook-agregarAmigos-p7" *ngIf="currentIndex === 6">
    <div
      class="facebook-agregarAmigos-p7-red-box"
      (click)="agregarAmigosRegistroClicked()"
    ></div>
  </body>
  <body class="facebook-agregarAmigos-p8" *ngIf="currentIndex === 7">
    <img
      src="/assets/images/imagesTutoriales/facebook/agregarAmigos/agregarAmigos-añadir.png"
      alt="Playstore Icon"
      class="facebook-agregarAmigos-p8-button-image"
      (click)="agregarAmigosRegistroClicked()"
    />
  </body>
  <body class="facebook-agregarAmigos-p9" *ngIf="currentIndex === 8"></body>
  <body class="facebook-agregarAmigos-p10" *ngIf="currentIndex === 9">
    <div
      class="facebook-agregarAmigos-p10-red-box"
      (click)="agregarAmigosRegistroClicked()"
    ></div>
  </body>
  <body class="facebook-agregarAmigos-p11" *ngIf="currentIndex === 10">
    <div class="facebook-agregarAmigos-p11-red-box"></div>
  </body>
</app-phone-interface>
<app-back-button></app-back-button>
