<app-audio-instrucciones
  [maxIndex]="audioInstruccionesData.length"
  [index]="currentIndex"
  [content]="audioInstruccionesData[currentIndex].content"
  [audioSrc]="audioInstruccionesData[currentIndex].audio"
  (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>

<app-phone-interface>
  <body class="instagram-navegacion-p1" *ngIf="currentIndex === 0"></body>
  <body class="instagram-navegacion-p2" *ngIf="currentIndex === 1">
    <img
      src="/assets/images/imagesTutoriales/instagram/imgInstFrecuente/logo_instagram.png"
      alt="Instagram Icon"
      class="instagram-navegacion-p2-button-image"
      (click)="instagramNavegacionClicked()"
    />
  </body>
  <body class="instagram-navegacion-p3" *ngIf="currentIndex === 2">
    <div
      class="instagram-navegacion-p3-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p4" *ngIf="currentIndex === 3">
    <div
      class="instagram-navegacion-p4-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p5" *ngIf="currentIndex === 4">
    <div
      class="instagram-navegacion-p5-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p6" *ngIf="currentIndex === 5">
    <div
      class="instagram-navegacion-p6-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p7" *ngIf="currentIndex === 6">
    <div
      class="instagram-navegacion-p7-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p8" *ngIf="currentIndex === 7">
    <div
      class="instagram-navegacion-p8-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p9" *ngIf="currentIndex === 8">
    <div
      class="instagram-navegacion-p9-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p10" *ngIf="currentIndex === 9">
    <div
      class="instagram-navegacion-p10-red-box"
      (click)="instagramNavegacionClicked()"
    ></div>
  </body>
  <body class="instagram-navegacion-p11" *ngIf="currentIndex === 10"></body>
</app-phone-interface>
<app-back-button></app-back-button>
