<app-audio-instrucciones
    [maxIndex]="audioInstruccionesData.length"
    [index]="currentIndex"
    [content]="audioInstruccionesData[currentIndex].content"
    [audioSrc]="audioInstruccionesData[currentIndex].audio"
    (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>

<app-phone-interface>
    <body class="historias-instagram-p1" *ngIf="currentIndex === 0">
    </body>
    <body class="historias-instagram-p2" *ngIf="currentIndex === 1">
        <img src="/assets/images/imagesTutoriales/instagram/imgInstFrecuente/logo_instagram.png" alt="Instagram Icon" class="historias-instagram-p2-button-image" (click)="historiasInstagramClicked()">
    </body>
    <body class="historias-instagram-p3" *ngIf="currentIndex === 2">
        <div class="historias-instagram-p3-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p4" *ngIf="currentIndex === 3">
        <div class="historias-instagram-p4-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p5" *ngIf="currentIndex === 4">
        <div class="historias-instagram-p5-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p6" *ngIf="currentIndex === 5">
        <div class="historias-instagram-p6-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p7" *ngIf="currentIndex === 6">
        <div class="historias-instagram-p7-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p8" *ngIf="currentIndex === 7">
        <div class="historias-instagram-p8-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p9" *ngIf="currentIndex === 8">
        <div class="historias-instagram-p9-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p10" *ngIf="currentIndex === 9">
        <img src="/assets/images/imagesTutoriales/instagram/historiaInstagram/ahoraNo.png" alt="Instagram Icon" class="historias-instagram-p10-button-image" (click)="historiasInstagramClicked()">
    </body>
    <body class="historias-instagram-p11" *ngIf="currentIndex === 10">
        <div class="historias-instagram-p11-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p12" *ngIf="currentIndex === 11">
        <div class="historias-instagram-p12-red-box" (click)="historiasInstagramClicked()"></div>
    </body>
    <body class="historias-instagram-p13" *ngIf="currentIndex === 12">
    </body>
</app-phone-interface>
<app-back-button></app-back-button>
