<app-audio-instrucciones
  [maxIndex]="audioInstruccionesData.length"
  [index]="currentIndex"
  [content]="audioInstruccionesData[currentIndex].content"
  [audioSrc]="audioInstruccionesData[currentIndex].audio"
  (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>
<app-phone-interface>
    <body class="instagram-likes-p1" *ngIf="currentIndex === 0"></body>
    <body class="instagram-likes-p2" *ngIf="currentIndex === 1">
        <img
          src="/assets/images/imagesTutoriales/instagram/imgInstFrecuente/logo_instagram.png"
          alt="Instagram Icon"
          class="instagram-likes-p2-button-image"
          (click)="instagramLikesClicked()"
        />
    </body>
    <body class="instagram-likes-p3" *ngIf="currentIndex === 2">
        <img
          src="/assets/images/imagesTutoriales/instagram/likeInstagram/likeIns_paso3_like.png"
          alt="Instagram Icon"
          class="instagram-likes-p3-button-image"
          (click)="instagramLikesClicked()"
        />
        <div class="instagram-likes-p3-red-box"></div>
    </body>
    <body class="instagram-likes-p4" *ngIf="currentIndex === 3">
        <img
          src="/assets/images/imagesTutoriales/instagram/likeInstagram/likeIns_paso4_perfil.png"
          alt="Instagram Icon"
          class="instagram-likes-p4-button-image"
          (click)="instagramLikesClicked()"
        />
        <div class="instagram-likes-p4-red-box"></div>
    </body>
    <body class="instagram-likes-p5" *ngIf="currentIndex === 4">
        <img
          src="/assets/images/imagesTutoriales/instagram/likeInstagram/likeIns_paso5_opciones.png"
          alt="Instagram Icon"
          class="instagram-likes-p5-button-image"
          (click)="instagramLikesClicked()"
        />
        <div class="instagram-likes-p5-red-box"></div>
    </body>
    <body class="instagram-likes-p6" *ngIf="currentIndex === 5">
        <img
          src="/assets/images/imagesTutoriales/instagram/likeInstagram/likeIns_paso6_actividad.png"
          alt="Instagram Icon"
          class="instagram-likes-p6-button-image"
          (click)="instagramLikesClicked()"
        />
        <div class="instagram-likes-p6-red-box"></div>
    </body>
    <body class="instagram-likes-p7" *ngIf="currentIndex === 6">
        <img
          src="/assets/images/imagesTutoriales/instagram/likeInstagram/likeIns_paso7_megusta.png"
          alt="Instagram Icon"
          class="instagram-likes-p7-button-image"
          (click)="instagramLikesClicked()"
        />
        <div class="instagram-likes-p7-red-box"></div>
    </body>
    <body class="instagram-likes-p8" *ngIf="currentIndex === 7"></body>
</app-phone-interface>
<app-back-button></app-back-button>