body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita que haya barras de desplazamiento */
    
  }
  
  .phone-wrapper {
    width: 90vw; /* Use 90% of the viewport width for the phone */
    max-width: 430px; /* Set a maximum width to avoid the phone becoming too wide */
    height: calc(90vw * 20 / 9); /* Calculate height based on width to maintain 20:9 aspect ratio */
    max-height: 900px; /* Set a maximum height to avoid the phone becoming too tall */
    border: 18px solid #333; /* Marco del teléfono móvil */
    border-radius: 36px; /* Bordes redondeados del teléfono móvil */
    margin: auto; /* Centra el teléfono en la página vertically */
    overflow: hidden; /* Oculta el contenido que excede el marco del teléfono */
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra del teléfono */
    margin-right: 30%;
    margin-top: 20px;
  }
  .phone-screen {
    height: 100%; /* Set the height to 100% to fill the entire .phone-wrapper */
    overflow-y: auto; /* Add scrollbars if the content is taller than the screen */
    background-color: #ffffff; /* Background color of the phone screen */
    margin: 0;
    padding: 0;
}