<body>
    <div class="phone-wrapper">
      <!-- Contenido de la interfaz del teléfono móvil -->
      <div class="phone-header">
        <div class="time">
            <p>16:57</p>
        </div>
        <div class="header-icons">
          <i class="fas fa-signal"></i>
          <i class="fas fa-battery-full"></i>
          <i class="fas fa-wifi"></i>
        </div>
      </div>
      <div class="phone-screen">
        <ng-content></ng-content>
      </div>
      <div class="phone-footer">
        <!-- Pie de página del teléfono (puede contener botones de navegación, etc.) -->
      </div>
    </div>
  </body>