/* facebook-enviarMensajes-p1 */

.facebook-enviarMensajes-p1 {
    background-image: url('src/assets/images/imagesTutoriales/facebook/agregarAmigos/agregarAmigos-paso-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Set height to 100% to fill the entire .phone-screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    padding: 0; /* Remove default padding to ensure full coverage */
  }

  /* facebook-enviarMensajes-p2 */

.facebook-enviarMensajes-p2 {
    background-image: url('src/assets/images/imagesTutoriales/facebook/agregarAmigos/agregarAmigos-paso-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Set height to 100% to fill the entire .phone-screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    padding: 0; /* Remove default padding to ensure full coverage */
  }
  .facebook-enviarMensajes-p2-button-image {
    /* Add styling for the image */
    width: 64px; /* Initial width */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer; /* Set the cursor to a hand */
    margin-top: 101.5%;
    margin-left: 0.5%;
  
    /* Animation */
    animation-name: buttonAnimation;
    animation-duration: 2s; /* Total duration of the animation */
    animation-iteration-count: infinite; /* Infinite loop */
  
    /* Add a transition to smoothly revert to the initial state on hover */
    transition: width 0.5s, margin-top 0.5s;
  }
  
  /* Define the keyframes for the animation */
  @keyframes buttonAnimation {
    0%, 100% {
      /* Initial and final keyframes - the button will be at its original size */
      width: 64px;
      margin-top: 101.5%;
    }
  
    50% {
      /* Midpoint keyframe - the button will be twice its original size */
      width: 100px;
      margin-top: 101.5%;
    }
  }
  
  /* Pause the animation when the cursor is over the button and revert to the initial state */
  .facebook-enviarMensajes-p2-button-image:hover {
    animation-play-state: paused;
    width: 64px!important;
    margin-top: 101.5%!important;
  }

   /* facebook-enviarMensajes-p3*/
  .facebook-enviarMensajes-p3 {
    background-image: url('src/assets/images/imagesTutoriales/facebook/enviarMensajes/paso_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Set height to 100% to fill the entire .phone-screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    padding: 0; /* Remove default padding to ensure full coverage */
  }
  
  .facebook-enviarMensajes-p3-red-box {
    background-color: rgba(255, 0, 0, 0); /* Red with 50% opacity */
    width: 50px; /*Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-top: 10px;
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 86%;
  
    /* Animation */
    animation-name: borderAnimationp3;
    animation-duration: 2s; /* Total duration of the animation */
    animation-iteration-count: infinite; /* Infinite loop */
  }
  
  /* Define the keyframes for the animation */
  @keyframes borderAnimationp3 {
    0%,
    100% {
      /* Initial and final keyframes - the border will be red */
      border-color: red;
    }
  
    50% {
      /* Midpoint keyframe - the border will be transparent (no border) */
      border-color: transparent;
    }
  }
  .facebook-enviarMensajes-p3-button-image {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: none; /* Remove default button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin-top: 10%;
    margin-left: 87%;
    position: absolute;
    /*Animation*/
    animation-name: buttonAnimationp3;
    animation-duration: 2s; /* Total duration of the animation */
    animation-iteration-count: infinite; /* Infinite loop */
  
    /* Add a transition to smoothly revert to the initial state on hover */
    transition: width 0.5s, margin-top 0.5s;
  }