.tituloRed {
  font-size: xx-large !important;
  text-shadow: 4px 4px 8px #afafaf;
}
.social-image {
  width: 370px;
  height: 370px;
  border-radius: 10px;
}

.redesSociales {
  font-size: x-large;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.card-wrapper {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-wrapper:hover {
  transform: scale(1.1);
}

.card {
  box-shadow: 4px 4px 8px #afafaf;
  border-radius: 10px; /* Increase the border-radius for rounded corners */
  padding: 30px; /* Increase the padding for more space inside the card */
  text-align: center;
  align-items: center;
}

.navbar {
  background: #002125;
  color: #e4d2b8;
}

.navbar-brand {
 /* Replace 'YourDesiredFont' with your chosen font */
  font-size: 2.3em; /* Adjust the font size as needed */
  color: #e4d2b8; /* Set the text color */
  letter-spacing: 2px; /* Adjust letter spacing */
  /* text-shadow: 4px 4px 8px #afafaf; */
}

.body {
  background-color: #f0f0f0;
}

.footer-tutoriales{
  text-align: center;
  box-shadow: 6px 6px 12px #556b66;
  font-size: small;
}

.footer-tutoriales a {
  color: #899690;
}