.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(109, 106, 106, 0.1);
    font-size: 35px; /* Adjust the font size as needed */
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #fff;
    margin-right: 10px;
  }
  
  .text {
    flex-shrink: 0; /* Prevent text from shrinking when the button is too small */
  }
  
  .floating-button:hover {
    background-color: #00000081;
  }