<app-audio-instrucciones
    [maxIndex]="audioInstruccionesData.length"
    [index]="currentIndex"
    [content]="audioInstruccionesData[currentIndex].content"
    [audioSrc]="audioInstruccionesData[currentIndex].audio"
    (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>

<app-phone-interface>
  <body class="facebook-registro-p1" *ngIf="currentIndex === 0">
  </body>
    <body class="facebook-registro-p2" *ngIf="currentIndex === 1">
      <img src="/assets/images/imagesTutoriales/facebook/registro/playstore-icon.png" alt="Playstore Icon" class="facebook-registro-p2-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p3" *ngIf="currentIndex === 2">
      <img src="/assets/images/imagesTutoriales/facebook/registro/buscar-playstore-icon.png" alt="Playstore Icon" class="facebook-registro-p3-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p4" *ngIf="currentIndex === 3">
      <input type="text" placeholder="Buscar apps y juegos" class="facebook-registro-p4-input" (input)="facebookRegistroP4InputChanged($event)">
    </body>
    <body class="facebook-registro-p5" *ngIf="currentIndex === 4">
      <img src="/assets/images/imagesTutoriales/facebook/registro/instalar_facebook_boton.png" alt="Playstore Icon" class="facebook-registro-p5-button-image" (click)="facebookRegistroClicked()">
      <div class="facebook-registro-p5-red-box">
      </div>
    </body>
    <body class="facebook-registro-p6" *ngIf="currentIndex === 5">
      <img src="/assets/images/imagesTutoriales/facebook/registro/Abrir-facebook-boton.png" alt="Playstore Icon" class="facebook-registro-p6-button-image" (click)="facebookRegistroClicked()">
        <div class="facebook-registro-p6-red-box">
      </div>
    </body>
    <body class="facebook-registro-p7" *ngIf="currentIndex === 6">
      <img src="/assets/images/imagesTutoriales/facebook/registro/crear_cuenta_nueva.png" alt="Playstore Icon" class="facebook-registro-p7-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p8" *ngIf="currentIndex === 7">
      <img src="/assets/images/imagesTutoriales/facebook/registro/empezar-boton-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p8-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p9" *ngIf="currentIndex === 8">
      <div class="facebook-registro-p9-input-part">
        <input type="text" placeholder="Nombre" class="facebook-registro-p9-input-nombre">
        <input type="text" placeholder="Apellido" class="facebook-registro-p9-input-apellido">
      </div>
      <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p9-button-image" (click)="facebookRegistroClicked()">  
    </body>
    <body class="facebook-registro-p10" *ngIf="currentIndex === 9">
            <span class="facebook-registro-p10-button" (click)="facebookRegistroClicked()">DEFINIR</span>
    </body>
    <body class="facebook-registro-p11" *ngIf="currentIndex === 10">
    <span class="facebook-registro-p11-red-square"></span>
    <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p11-button-image" (click)="facebookRegistroClicked()">  
    </body>
    <body class="facebook-registro-p12" *ngIf="currentIndex === 11">
      <span class="facebook-registro-p12-red-square"></span>
      <div class="facebook-registro-p12-radio-group">
          <label class="facebook-registro-p12-radio-button">
              <input type="radio" name="radioOption" class="facebook-registro-p12-radioOption1">
          </label>
          <label class="facebook-registro-p12-radio-button">
              <input type="radio" name="radioOption" class="facebook-registro-p12-radioOption2">
          </label>
          <label class="facebook-registro-p12-radio-button">
              <input type="radio" name="radioOption" class="facebook-registro-p12-radioOption3">
          </label>
      </div>
      <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p12-button-image" (click)="facebookRegistroClicked()">  
  </body>
    <body class="facebook-registro-p13" *ngIf="currentIndex === 12">
      <input type="text" placeholder="Ingresa aqui to celular o correo electronico" class="facebook-registro-p13-input">
      <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p13-button-image" (click)="facebookRegistroClicked()">
      <span class="facebook-registro-p13-blue-square"></span>
    </body>
    <body class="facebook-registro-p14" *ngIf="currentIndex === 13">
      <input type="password" placeholder="Contraseña" class="facebook-registro-p14-input">
      <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p14-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p15" *ngIf="currentIndex === 14">
      <img src="/assets/images/imagesTutoriales/facebook/registro/guardar_facebook_boton.png" alt="Playstore Icon" class="facebook-registro-p15-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p16" *ngIf="currentIndex === 15">
      <img src="/assets/images/imagesTutoriales/facebook/registro/acepto_facebook_boton.png" alt="Playstore Icon" class="facebook-registro-p16-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p17" *ngIf="currentIndex === 16">
      <input type="text" placeholder="Código de confirmación" class="facebook-registro-p17-input">
      <img src="/assets/images/imagesTutoriales/facebook/registro/boton-siguiente-facebook-registro.png" alt="Playstore Icon" class="facebook-registro-p17-button-image" (click)="facebookRegistroClicked()">
    </body>
    <body class="facebook-registro-p18" *ngIf="currentIndex === 17">
      <span class="facebook-registro-p18-red-square" (click)="facebookRegistroClicked()"></span>
    </body>
    <body class="facebook-registro-p19" *ngIf="currentIndex === 18">
      <span class="facebook-registro-p19-red-square" (click)="facebookRegistroClicked()"></span>
    </body>
    <body class="facebook-registro-p20" *ngIf="currentIndex === 19">
    </body>
</app-phone-interface>
<app-back-button></app-back-button>
