<app-phone-interface>
    <body>
        <p>Español <i class="fa-solid fa-chevron-down"></i></p>
        <img src="/assets/images/imagesHome/Facebook_logo_home.png" alt="User Image" width="100" class="logoLogin">
        <div id="form-container">
            
            <form>
                <input type="text" placeholder="Celular o correo electrónico" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit">Iniciar Sesión</button>
                <a class="forgot-password">¿Olvidaste tu contraseña?</a>
            </form>
            
        </div>
        <button class="create-account-btn">Crear cuenta nueva</button>
        <div class="meta">
            
            <p><i class="fa-brands fa-meta"></i>Meta</p>
        </div>
    </body>
</app-phone-interface>
<app-back-button></app-back-button>