<app-audio-instrucciones
    [maxIndex]="audioInstruccionesData.length"
    [index]="currentIndex"
    [content]="audioInstruccionesData[currentIndex].content"
    [audioSrc]="audioInstruccionesData[currentIndex].audio"
    (buttonClick)="onAudioInstruccionesButtonClick($event)"
></app-audio-instrucciones>
<app-phone-interface>
    <body class="whatsapp-p1" *ngIf="currentIndex === 0">
    </body>
    <body class="whatsapp-p2" *ngIf="currentIndex === 1">
        <img src="/assets/images/imagesTutoriales/whatsapp/img_frecuente/logo_whatsapp.png" alt="Whatsapp Icon" class="whatsapp-p2-button-image" (click)="whatsappRegistroClicked()">
    </body>
    <body class="whatsapp-p3" *ngIf="currentIndex === 2"> 
        <div
          class="whatsapp-p3-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>
    </body>
    <body class="whatsapp-p4" *ngIf="currentIndex === 3"> 
        <div
          class="whatsapp-p4-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>       
    </body>
    <body class="whatsapp-p5" *ngIf="currentIndex === 4"> 
        <div
          class="whatsapp-p5-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>       
    </body>
    <body class="whatsapp-p6" *ngIf="currentIndex === 5"> 
        <div
          class="whatsapp-p6-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>       
    </body>
    <body class="whatsapp-p7" *ngIf="currentIndex === 6"> 
        <div
          class="whatsapp-p7-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>       
    </body>
    <body class="whatsapp-p8" *ngIf="currentIndex === 7">
        <div
          class="whatsapp-p8-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>        
    </body>
    <body class="whatsapp-p9" *ngIf="currentIndex === 8">
        <div
          class="whatsapp-p9-red-box"
          (click)="whatsappRegistroClicked()"
        ></div>        
    </body>
    <body class="whatsapp-p10" *ngIf="currentIndex === 9">
    </body>
</app-phone-interface>
<app-back-button></app-back-button>