<div class="rating-container">
    <h1>Cuentanos como te parecio el tutorial</h1>
    <hr>
    <div *ngIf="!isRatingSelected">
        <button class="rating-button" (click)="rateTutorial(1)">
            <span>1.</span>
            <i class="fas fa-star"></i>
            <span>Pobre</span>
        </button>
        <button class="rating-button" (click)="rateTutorial(2)">
            <span>2. </span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>Aceptable</span>
        </button>
        <button class="rating-button" (click)="rateTutorial(3)">
            <span>3.</span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>Regular</span>
        </button>
        <button class="rating-button" (click)="rateTutorial(4)">
            <span>4.</span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>Bueno</span>
        </button>
        <button class="rating-button" (click)="rateTutorial(5)">
            <span>5.</span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>Excelente!</span>
        </button>
    </div>
    <div *ngIf="isRatingSelected" class="agradecimiento">
        <p>Gracias por calificar el tutorial.</p>
    </div>
</div>